/********************** 整个网站通用的基础结构 **********************/

/* 添加在 body 上的样式 */
/* 此样式给 js 自动判断添加。当一定宽度下，文档流的高度小于窗口的高度时，添加此样式，让高度充满整个窗口。 */
.height-add{
    height: 100vh !important;
}

/* 通过媒体查询，当宽度小于 768px 时，自动去掉背景图片（防止位图失真影响美观），改为咖啡色背景。 */
@media screen and (min-width: 768px) {
    .body-my-style{
        background-color: #333333;
        color: aliceblue;
        text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

        background-image: url('../img/cool-background.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
}

@media screen and (max-width: 768px) {
    .body-my-style{
        background-color: #333333;
        color: aliceblue;
        text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
}


/* 在不改变 bootstrap 中 container 固有宽度情况下，通过添加 margin 来使 flex 成员中的元素更紧凑 */
header,
main,
footer{
    margin-left: 10%;
    margin-right: 10%;
}


/* 设置 header（flex 成员）中的右侧导航栏元素样式 */
.nav-a-my-style{
    color: #ffffff;
    font-weight: bold;
    border-bottom: solid transparent;
}

.nav-a-my-style:hover{
    color: dimgrey;
    font-weight: bold;
    border-bottom: solid #ffffff;
    transition: 200ms;
}


/* 设置 footer（flex 成员）中一行文字元素样式 */
.footer-my-style p{
    margin-top: 8px;
    margin-bottom: 8px;
    color: darkgray;
    font-size: small;
}