/********************** works 页面的独有样式 **********************/

/* works 板块区域 */
.main-works-my-style{
    margin-top: 45px;
}


/* 放每个 works item 的容器 */
.works-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* works 的每个项目（item） */
.works-item{
    display: flex;
    flex-direction: column;

    height: 160px;
    width: 240px;
    margin: 10px;
    
    border: solid 2px transparent;
    border-radius: 10px;
    
    overflow: hidden;
}

.works-item:hover{
    border: solid 2px #ffffff;
    border-radius: 10px;
    transition: 200ms;
}

.works-item p{
    margin: 4px 8px;
    padding: 2px;
}

.works-item p:nth-child(1){
    font-weight: bolder;
}

.works-item p:nth-child(2){
    font-weight: bold;
    font-size: small;
}

.works-item p:nth-child(3){
    font-weight: lighter;
    font-size: small;
}